.features__item {
  list-style: none;
  min-width: auto;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  &::before {
    display: block;
    content: "";
    height: 120px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--btn-filter-background-color);
    margin-bottom: 30px;
  }
  @media screen and (min-width: 720px) {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}

.icon-antenne::before {
  background-image: url(../images/icons/antenna.png);
}
.icon-clock::before {
  background-image: url(../images/icons/clock.png);
}
.icon-diagramm::before {
  background-image: url(../images/icons/diagram.png);
}
.icon-cosmonavt::before {
  background-image: url(../images/icons/astronaut.png);
}
.features__menu {
  @media screen and (min-width: 720px) {
    display: flex;
    flex-wrap: wrap;
  }
}
// .features {
//   padding-bottom: 0;
// }
.features__title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features__text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
