.navigation-menu {
  display: flex;
  list-style: none;
  align-items: center;
}
.contacts-menu {
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: auto;
}
.contacts-menu__item:not(:last-child) {
  margin-right: 50px;
}
.navigation {
  display: flex;
}
.header {
  border-bottom: 1px solid #ececec;
}
.navigation-menu-list {
  display: flex;
  margin-left: 93px;
}
.navigation-menu-list__item {
  list-style: none;
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.navigation-menu__logo {
  list-style: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.navigation-menu__logo-color {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.contacts-menu__link:hover,
.adress__mail:hover,
.adress__tel:hover {
  color: var(--accent-color);
}
.contacts-menu__link:focus,
.adress__mail:focus,
.adress__tel:focus {
  color: var(--accent-color);
}
.navigation-menu-list__link {
  display: block;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--accent-color);
  }
  &:focus {
    color: var(--accent-color);
  }
}
.page-default {
  color: var(--accent-color);
  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    margin-top: 28px;
  }
}
.contacts-menu__link {
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-menu__icon {
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  background-size: cover;
}
