.our-team {
  background-color: var(--btn-filter-background-color);
  min-height: 648px;
}
.our-team__menu {
  display: flex;
  margin-left: -30px;
}
.our-team__item {
  list-style: none;
  background-color: var(--main-lite-color);
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  max-width: 270px;
  width: calc(100%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.workspace__title,
.our-team__title,
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}
.our-team__name,
.our-team__profesion {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
  margin-right: 0;
}
.our-team__profesion {
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 16px;
}
.our-team__about {
  padding-top: 30px;
  padding-bottom: 30px;
}
.our-team__soc-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-team__soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: var(--accent-color);
    fill: var(--main-lite-color);
  }
  &:focus {
    background-color: var(--accent-color);
    fill: var(--main-lite-color);
  }
}
.our-team__soc-item + .our-team__soc-item {
  margin-left: 10px;
}
